@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navigation {
        display: none;
    }

    #logo {
        width: 20vw;
    }

    #mobile_tablet_trigger {
        display: flex;
        justify-content: center;
        padding: 15px;
        width: 100vw;
        background-color: #10403b13;
    }

    .trigger-icon {
        font-size: 24px; 
        cursor: pointer;
        color: var(--green-color)
    }

    .navigation.is-open {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .navigation a {
        font-size: 1.1rem;
    }
}
    