@media (max-width: 767px) {
    .navigation {
        display: none;
    }

    #logo {
        width: 20vw;
    }

    #mobile_tablet_trigger {
        display: flex;
        justify-content: center;
        padding: 15px;
        width: 100vw;
        background-color: #10403b13;
    }
   
    .trigger-icon {
        font-size: 22px; 
        cursor: pointer;
    }

    .navigation.is-open {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .navigation a {
        font-size: 1rem;
    }
}