#img_actus {
    border-radius: 15px 15px 0 0;
}

.box_actus {
    width: 350px;
    min-height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
}

.box_actus > * {
    flex-grow: 1; /* Étirer le contenu pour occuper l'espace vertical */
}

.container {
    margin: 0 70px;
    height: 700px;
}

.box_actus button {
    border-radius: 7px;
    position: absolute;
    bottom: 10px; /* Positionnement depuis le bas */
    transform-origin: center;
    left: 33%;
}

.react-multiple-carousel__arrow {
    margin: -20px;
}