/* Styles for the contact image */
.img-contact {
  width: 400px;
  margin-top: 50px;
  border-radius: 15px; 
}

/* Styles for the contact division/container */
.div-contact {
  display: flex;
  flex-direction: column;
  gap: 5vh; 
}

/* Styles for the main contact container */
.container-contact {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  width: 70%; 
}

/* Styles for the label inside the contact container */
.container-contact label {
  font-family: var(--common-font);
  text-decoration: underline; 
}

/* Styles for the form */
.container-contact form {
  display: flex;
  width: 40%;
  flex-direction: column;
  gap: 10px;
  justify-content: center; 
}

/* Common styles for the input fields and text areas inside the form */
.container-contact input, .container-contact textarea {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #dad5d5; 
}

/* Specific styles for the textarea inside the form */
.container-contact textarea {
  height: 20vh;
  max-height: 20vh;
  min-height: 20vh;
  max-width: 100%;
  min-width: 100%;
  font-size: 1.2em; 
}

/* Styles for displaying character count, probably for textarea */
.character-count {
  font-family: var(--common-font); 
}

/* Responsive styles for tablets and mobiles */
@media screen and (max-width: 1024px) {
  /* Hide the image inside the contact container on small screens */
  .container-contact img {
    display: none; 
  }
  /* Adjust the form width for smaller screens */
  .container-contact form {
    width: 90%; 
  }
  /* Center the text inside the contact division on smaller screens */
  .div-contact {
    text-align: center; 
  } 
}
