.img_description_msp {
    width: 300px;
    border-radius: 15px;
}

.container_description_msp {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 150px auto 0;
    padding: 40px;
    gap: 60px;
    background-color: #10403b13;
}

.container_description_msp h2 {
    margin-bottom: 20px;
}

.container_article {
    text-align: center;
    width: 300px;
}

.container_article li {
    list-style-type: none;
    line-height: 2;
    font-family: var(--common-font);
    margin-top: 15px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    width: 80%;
    margin: 60px auto;
}

#imgOffice {
    width: 60vw;
    border-radius: 15px;
}

.container2 span {
    color:#10403b86;
    font-weight: bold;
}

.container2 h2 {
    margin-bottom: 20px;
}

.container2 p{
    width: 60vw;
    text-align: justify;
}

