/************DESKTOP STYLES*************/
/********** MAIN CONTAINER ***********/
.container-emergencies {
    display: flex;
    width: 80vw;
    margin: 150px auto;
    justify-content: center;
    text-align: center;
    gap: 1vw;
}

/********** COLUMNS WITH PICTURES ***********/
.column-left, .column-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.column-left {
    align-items: flex-end;
}

.column-middle {
    align-items: flex-start;
}

/********** COLUMN RIGHT WITH TEXT ***********/
.column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    gap: 4vh;
    margin: auto;
}

.column-right p{
    width: 90%;
    margin: auto;
}


/********** PICTURES ***********/
.cabinet-doctor, .building-physiotherapist, .office-psychotherapist, .pharmacy {
    border-radius: var(--border-image);
}

.cabinet-doctor {
    width: 12vw;
}

.building-physiotherapist {
    width: 15vw;
}

.office-psychotherapist {
    width: 15vw;
}

.pharmacy {
    width: 10vw;
}

/************styles for tablets and mobiles that share the same style*************/
@media screen and (max-width: 1024px) {
    .container-emergencies {
        width: 100%;
        flex-wrap: wrap;
    }
}

/************MOBILES STYLES*************/
@media (max-width: 767px) {
    .column-right h2 {
        font-size: 1.4em;
        margin-top: 20px;
    }

    .column-right p {
        width: 80%;
        font-size: 1em;
    }

    .cabinet-doctor {
        width: 150px;
    }

    .building-physiotherapist {
        width: 180px;
    }

    .office-psychotherapist {
        width: 200px;
    }
    
    .pharmacy {
        width: 120px;
    }
}