.container_external_pros {
    display: flex;
    width: 60vw;
    margin: auto;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.card_external_pros {
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.9s cubic-bezier(.25,.8,.25,1);
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card_external_pros p {
    position: absolute;
    font-size: 1rem;
    top: 5px;
    left: 20px;
    color: var(--green-color);
}

.card_external_pros:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#img_external_pros {
    width: 150px;
    margin-top: 30px;
}

