/* Styles for the footer section */
footer {
    text-align: center;
    margin-top: 50px;
}

/* Styles for the container that holds the links */
.container-link {
    width: 90%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: auto;
    border-top: 1px solid var(--green-color);
}
/* Styles for anchor links inside the footer */
footer a {
    text-decoration: none;
    color: var(--green-color);
    font-family: var(--common-font);
}

/* Styles for paragraphs inside the footer */
footer p {
    background-color: var(--light-green);
    padding: 5px;
}

/* Styles for horizontal lines inside the footer */
footer hr {
    width: 90%;
    margin: auto;
    color: var(--green-color);
}


