/************DESKTOP STYLES*************/
.container-banner { 
    min-height: 20vh;
    background: url('../assets//images//paysage.jpg') center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 12vw;
}

/********** MENU ***********/
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 5vh;
    background-color: var(--light-green);
}

.navigation a {
    text-decoration: none;
    color: var(--green-color);
    font-family: var(--title-font);
    font-size: 1.2em;
}

/*Highlighting links*/
.navigation a:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.navigation a:hover:after {
    width: 100%;
    background: var(--green-color);
}

/********** TRIGGER FOR MOBILE AND TABLETS ***********/
#mobile-tablet-trigger {
    display: none;
}

.div-admin {
    display: flex;
    gap: 5vw;
}

.logout-button {
    padding: 6px;
    background-color: var(--green-color);
    border-radius: 10px;
    border: none; 
    color: white;
    cursor: pointer;
}

/************TABLETS STYLES*************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navigation {
        display: none;
    }

    #logo {
        width: 20vw;
    }

    #mobile-tablet-trigger {
        display: flex;
        justify-content: center;
        padding: 15px;
        width: 100vw;
        background-color: var(--light-green);
    }

    .trigger-icon {
        font-size: 1.8em; 
        cursor: pointer;
        color: var(--green-color);
    }

    .navigation.is-open {
        display: flex;
        flex-direction: column;
        height: 30vh;
    }

    .navigation.is-open a {
        font-size: 1.1em;
        padding: 2px;
    }
}

/************MOBILES STYLES*************/
@media (max-width: 767px) {
    .navigation {
        display: none;
    }

    #logo {
        width: 20vw;
    }

    #mobile-tablet-trigger {
        display: flex;
        justify-content: center;
        padding: 15px;
        width: 100vw;
        background-color: var(--light-green);
    }
   
    .trigger-icon {
        font-size: 1.5em; 
        cursor: pointer;
        color: var(--green-color);
    }

    .navigation.is-open {
        display: flex;
        flex-direction: column;
        height: 25vh;
    }

    .navigation.is-open a {
        font-size: 1em;
        padding: 2px;
    }
}