.container_banner {
    height: 30vh;
    background: url('../assets//images/paysage2.jpg') center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 12vw;
    max-width: 100%;
    height: auto;
}

.navigation {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #10403b13;
}

.navigation a {
    text-decoration: none;
    color: var(--green-color);
    font-family: var(--title-font);
    font-size: 1.2rem;
}

.navigation a:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.navigation a:hover:after {
    width: 100%;
    background: var(--green-color);
}

#mobile_tablet_trigger {
    display: none;
}

