.container_header {
    height: 30vh;
    background: url('../assets//images/paysage2.jpg') center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    max-width: 12vw;
    min-width: 12vw;
    
}

.navigation {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #10403b13;
}

.navigation a {
    text-decoration: none;
    color: var(--green-color);
    font-family: var(--title-font);
    font-size: 1.2rem;
}

.burger-icon {
    display: none;
}

