.section-infos {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.bloc-informations h4 {
    color: #133d3ddb;
    font-size: 1.1rem;
}

.bloc-informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
    gap: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding:20px;
    border-radius: 15px;
}

.actions-informations {
    display: flex;
    gap: 40px;
    align-items: center;
}

.actions-informations a {
    color: var(--color-font);
    margin-bottom: 10px;
}

.actions-admin a:hover {
    color: var(--dark-green-color);
}

.actions-informations button {
    text-decoration: none;
    padding: 10px;
    border: 0;
    background-color: #92a69a;
    color: white;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    font-family: var(--common-font);
    font-size: 1rem;
    cursor: pointer;
  }
    
  .actions-informations button:hover {
    background-color: #10403bae; 
  }
  