.button-scroll {
    position: fixed;
    width: 45px;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px;
    font-size: 1.4rem;
    background-color: #4d4d4d;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    z-index: 1000;
}