/********** FIRST SECTION ***********/
/* Styling for the main presentation container. */
.presentation-informations {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    text-align: center;
    margin-top: 30px;
}

/********** MAIN SECTION ***********/
/* Styling for the main information section. */
.section-informations {
    width: 80%;
    border-radius: 10px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 11px -2px #000000;
    padding: 20px;
}

/* Remove underlines from links within the main section. */
.section-informations a {
    text-decoration: none;
}

/********** DIV WITH TITLE DESCRIPTION AND BUTTON ***********/
/* Styling for the informational content. */
.info {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-start;
    margin-left: 15px;
    padding: 20px;
    text-align: justify;
}

/********** PICTURE ***********/
/* Styling for the image/picture. */
.pict-information {
    width: 25vw;
    height: auto;
    border-radius: var(--border-round);
}

/********** STYLE FOR TABLET AND MOBILE ***********/
/* Adjustments for tablet and mobile devices. */
@media screen and (min-width: 768px) and (max-width: 1024px), (max-width: 767px) {
    .section-informations {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Center-align child elements inside the informational content for tablet and mobile. */
    .info {
        align-items: center;
    }

    /* Adjust image width for tablet and mobile. */
    .pict-information {
        width: 30vw;
    }

}

/********** SPECIFIC STYLE FOR MOBILE ***********/
/* Adjustments specifically for mobile devices. */
@media (max-width: 767px) {
    /* Adjust image width for mobile devices. */
    .pict-information {
        width: 40vw;
    }
}