.bloc-presentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 5vh; 
  border-radius: 0 100px 0 0;
  margin-top: 50px;
  padding: 30px;
}

.bloc-presentation h1 {
  font-size: 3rem;
}

.bloc-presentation ul {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.bloc-presentation li {
  list-style-type: none;
  line-height: 2.5;
  display: flex;
  gap: 1vw;
  align-items: center;
  color: var(--color-font);
}

.icon-msp {
  background-color: var(--green-color);
  color: white;
  font-size: 1.6rem;
  padding: 15px;
  border-radius: 15px;
  width: 25px;
}

.download {
  display: flex;
  justify-content: flex-end;
  border-radius: 0 0 0 100px;
}

.download button {
  background-color: var(--dark-green-color);
  padding: 15px;
  border-radius: 15px;
  border: 1px solid white;
  color: white;
  margin: 0 25px 25px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: var(--common-font);
  font-size: 1rem;
}

.download button:hover {
  background-color: var(--green-color);
}

/* SECOND SECTION */
.container-description-msp {
  display: flex;
  justify-content: center;
  margin: 100px auto 0;
  padding: 40px;
  gap: 5vw; 
}

.container-description-msp h2 {
  margin-bottom: 20px; 
  font-size: 2rem;
}

.container-article {
  text-align: center;
  width: 300px; 
}

.container-article li {
  list-style-type: none;
  line-height: 2;
  font-family: var(--common-font);
  margin-top: 15px; 
  color:  var(--color-font);
}

.img-description-msp {
  width: 300px; 
  border-radius: 15px;
}

/* THIRD SECTION */
.last-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  align-items: center;
  width: 80%;
  margin: 60px auto; 
}

.last-container span {
  color: #10403b86;
  font-weight: bold; 
}

.last-container h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.last-container p {
  width: 60vw;
  text-align: justify; 
  line-height: 2;
}

.img-office {
  width: 60vw; 
  border-radius: 15px;
}

/* Styles for both tablets and mobile views */
@media (max-width: 1024px) {
  .bloc-presentation h1 {
    font-size: 2.1rem;
  }
  .container-description-msp h2, .last-container h2 {
    font-size: 1.6rem;
  }
  .container-description-msp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
  }
}

/* Styles for mobile */
@media (max-width: 767px) {
  .bloc-presentation {
    text-align: center;
  }
  .bloc-presentation li {
    flex-direction: column;
    text-align: center;
  }
  .download {
    justify-content: center;
  }
  .download button {
    margin: 0;
  }
  .last-container {
    text-align: center;
  }
  .img-office {
    width: 400px;
  }
  .last-container p {
    width: 80vw;
    text-align: center;
  }

}
