/************DESKTOP STYLES*************/
.container {
    height: 700px;
    width: 75%;
    margin: auto;
}

.box-news {
    max-width: 350px;
    min-height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border-radius: var(--border-image);
    margin: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
}

.box-news > * {
    flex-grow: 1; /* Stretch content to occupy vertical space */
}

/********** BUTTONS ***********/
.box-news button {
    border-radius: 7px;
    position: absolute;
    bottom: 10px; /* Positioning from the bottom */
    transform-origin: center;
    left: 33%;
}

/********** ARROWS ***********/
.react-multiple-carousel__arrow {
    margin: -40px;
}

.react-multi-carousel-item {
    max-width: 540px;
}

/********** PICTURES ***********/
.img-news {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0  0;
}

/************styles for tablets and mobiles that share the same style*************/
@media screen and (max-width: 1024px) {
    .react-multiple-carousel__arrow {
        display: none;
    }
}

/************MOBILES STYLES*************/
@media (max-width: 767px) {
    .box-news h3 {
        font-size: 1.4em;
    }

    .box-news p {
        font-size: 1em;
    }
}

