.container_professionals {
    display: flex;
    width: 70vw;
    margin: 50px auto;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 15px;
    border-radius: 15px;
    background-image: url("../assets/images/essaipaysage.png");
}

.column-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px;
}

.column-left p {
    line-height: 3rem;
}

.column-left h3 {
    margin-bottom: 25px;
}

.column-right {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.column-right h3 {
    margin-bottom: 30px;
}

.line_hours {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 10px;
}