* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/********** VARIABLES ***********/
:root {
  --green-color: #10403b;
  --title-font: louisgeorge, Arial, Helvetica, sans-serif;
  --common-font: ubuntu, Arial, Helvetica, sans-serif;
  --green-span-color: #10403b86;
  --light-green: #1d756e26;
  --border-round: 15px; }

/********** GLOBAL STYLES ***********/
h1, h2, h3 {
  font-family: var(--title-font);
  color: var(--green-color);
  text-align: center; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.3em; }

.general-button {
  width: auto;
  text-decoration: none;
  padding: 12px;
  border: 0;
  background-color: var(--green-color);
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
  color: white;
  font-family: var(--common-font);
  font-size: 1rem;
  cursor: pointer; }

.general-button:hover {
  transform: scale(1.1); }

p {
  font-family: var(--common-font);
  line-height: 2em; }

strong {
  color: var(--green-color); }

.error-message, .message-info {
  text-align: center;
  font-weight: bold;
  color: red; }

/********** DARK MODE STYLES ***********/
body.dark-mode {
  background-color: black;
  color: white; }

body.dark-mode a,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode strong {
  color: white;
  border: white; }

body.dark-mode .icon {
  color: white; }

body.dark-mode .box-news {
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24); }

body.dark-mode .cards-spe {
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24); }

body.dark-mode .card-external-pros {
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24); }

body.dark-mode .cards-informations {
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.52), 0 1px 2px rgba(255, 255, 255, 0.383); }

/********** POLICES ***********/
@font-face {
  font-family: "louisgeorge";
  src: url(../../src/assets/fonts/louisgeorge.ttf); }

@font-face {
  font-family: "ubuntu";
  src: url(../../src//assets//fonts/ubuntu.ttf); }
