/********Style for buttons dark mode***********/
.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000; }

.mode-sombre, .mode-clair {
  padding: 15px;
  font-size: 2em; }

.mode-sombre {
  background-color: black;
  color: white; }

.mode-clair {
  background-color: white;
  color: black; }

/********Style for buttons font***********/
.button-font-size {
  position: fixed;
  bottom: 20px;
  left: 100px;
  cursor: pointer;
  z-index: 1000; }

.button-font-size-less {
  position: fixed;
  bottom: 20px;
  left: 160px;
  cursor: pointer;
  z-index: 1000; }

.icon-font {
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em; }
