/************DESKTOP STYLES*************/
/* Container for the welcome section */
.container-welcome {
  display: flex;
  width: 90vw;
  justify-content: center;
  margin: 80px auto;
  gap: 2.5rem; }

/* Presentation section styles */
.section-presentation {
  width: 62%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9vh;
  text-align: justify; }

/* Styling for the image on the right */
#img-right {
  max-width: 35vw;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

/************STYLES FOR TABLETS AND MOBILES (Shared styles)*************/
/* Breakpoint for screen sizes less than or equal to 1024px */
@media screen and (max-width: 1024px) {
  .container-welcome {
    flex-direction: column;
    align-items: center;
    width: 100vw; }
  .section-presentation {
    width: 80vw; }
  /* Hiding the image on the right for tablets/mobiles */
  #img-right {
    display: none; } }

/************MOBILE STYLES*************/
/* Breakpoint for screen sizes less than or equal to 767px */
@media (max-width: 767px) {
  /* Reducing font size for the title on mobiles */
  .section-presentation h1 {
    font-size: 1.4rem; }
  /* Reducing font size for the paragraph on mobiles */
  .section-presentation p {
    font-size: 1rem; } }
