* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/********** VARIABLES ***********/
:root {
    --green-color: #10403b;
    --title-font: louisgeorge, Arial, Helvetica, sans-serif;
    --common-font: ubuntu, Arial, Helvetica, sans-serif;
    --green-span-color: #10403b86;
    --light-green: #1d756e26;
    --border-image: 15px;
}


/********** GLOBAL STYLES ***********/
h1, h2, h3 {
    font-family: var(--title-font);
    color: var(--green-color);
    text-align: center;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

.general-button {
    width: auto;
    text-decoration: none;
    padding: 12px;
    border: 0;
    background-color: var(--green-color);
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    color: white;
    font-family: var(--common-font);
    font-size: 1rem;
    cursor: pointer;
}

.general-button:hover {
    transform: scale(1.1);
}

p {
    font-family: var(--common-font);
    line-height: 2em;
}

strong {
    color: var(--green-color)
}

/********** POLICES ***********/
@font-face {
    font-family: "louisgeorge";
    src: url(./assets/fonts/louisgeorge.ttf);
}
@font-face {
    font-family: "ubuntu";
    src: url(./assets/fonts/ubuntu.ttf);
}